<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/ckeditor")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home">Home</a></li>
                    @*140904 JPC add ProductsAdmin to links visible only to role Admin*@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li><a href="~/Products">ProductsAdmin</a></li>
                        <li><a href="~/RolesAdmin">RolesAdmin</a></li>
                        <li><a href="~/UsersAdmin">UsersAdmin</a></li>
                        <li><a href="~/ckeditor">CK EDITOR</a></li>
                    }
                </ul>

                <ul class="nav navbar-nav">
                    @*140903 JPC hard-coded for prototyping only - TODO make this dynamic!
                        "partial view" looks like a good possibility.  Article ref:
                        http://rachelappel.com/razor/partial-views-in-asp-net-mvc-3-w-the-razor-view-engine/
                    *@


                    <li><a href="~/Products">Music Instruments</a></li>
                    <li><a href="~/Catalog">Show All</a></li>

                    @*<li><a href="~/ckeditor">CK</a></li>*@

                    
                    @*<li><a href="~/Catalog?CategoryName=Deception">Musical Instruments</a></li>
                    <li><a href="~/Catalog?CategoryName=Travel">Accessories</a></li>
                    <li><a href="~/Catalog?CategoryName=Protection">Sound Boards</a></li>
                    @*<li><a href="~/Catalog?CategoryName=Munitions">Drums    </a></li>
                    <li><a href="~/Catalog?CategoryName=Tools">Tools</a></li>
                    <li><a href="~/Catalog?CategoryName=General">General</a></li>
                    <li><a href="~/Catalog?CategoryName=Audio">Audio</a></li>*@
                    @*<li><a href="~/Catalog?CategoryName=Video">Video</a></li>*@*
                    <li><a href="~/PremierMembership/Index">Prime Member</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>ZoomBass Music &copy; 2003 Microsoft. &nbsp;&nbsp; --One Stop Solution For Music Instruments-- </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
